<ul class="space-y-4">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <li class="bg-white shadow-md rounded-lg transition hover:shadow-lg">
        <%= render post %>
      </li>
     <% end %>
   <% end %>
</ul>