    <%= form_with model: Comment.new, method: :post, url: event_post_comments_path(event_id: event_id, post_id: post_id) do |f| %>
      <%= f.textarea :content, class: 'form-field' %>
      <div class="flex items-center gap-2 justify-center">
        <%= f.submit t('.save_comment'), class: 'btn-confirm' %>
      </div>
    <% end %>
