<nav class="container mx-auto px-4 py-4 flex items-center">
    <div class="ml-auto flex items-center space-x-4">
        <%= link_to 'Eventos', events_path, class: "px-4 py-2 bg-gray-100 text-gray-700 rounded-md text-sm hover:bg-gray-200 whitespace-nowrap" %>
    </div>
</nav>