<%= page_title(t('.available_events'))%>

<% if @events.present? %>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <% @events.each do |event| %>
        <div class="card-event cursor-pointer">
          <%= link_to event_path(event.event_id) do %>
            <%= render '/events/event', event: event %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="text-lg text-center text-gray-500 dark:text-black-300 mt-6"><%=t('.unavailable_events')%></p>
<% end %>
