<h1>Meus Eventos</h1>

<% if @my_events.empty? %>
    <%= t('.no_tickets') %>
<% else %>
    <% @my_events.each do |event| %>
        <div id="event_id_<%=event.event_id%>">
            <%= link_to my_event_path(id: event.event_id)  do  %>
                <%= event.name %>
            <% end %>
        </div>
    <% end %>
<% end %>
